#enableDebuggingOutput::before {
    content: "__MSG_enableDebuggingOutput__";
}

#optionsDescriptionHeader::before {
    content: "__MSG_optionsDescriptionHeader__";
}

#forgetIfSecondsLeft::before {
    content: "__MSG_forgetIfSecondsLeft__";
}

#forgetAfterDays::before {
    content: "__MSG_forgetAfterDays__";
}
