[init]
	templatedir = ~/.git_template
[core]
	excludesfile = ~/.gitignore_global
[merge]
	tool = fugitive
[mergetool]
	keepBackup = false
[alias]
	co = checkout
[color]
	status = always
[diff]
	submodule = log
[github]
	user = bbugyi200
[pull]
	rebase = true
[pager]
	branch = false
[commit]
	template = ~/bryan/.gitmessage
[mergetool "fugitive"]
	cmd = vim -f -c \"Gvdiff\" \"$MERGED\"
