*swp
*swo
*~
.mutt/aliases
.mutt/.vimrc
.ipython/*
.xournal/*

.local/share/*
!.local/share/qutebrowser
.local/share/qutebrowser/*
!.local/share/qutebrowser/userscripts

.xmonad/*
!.xmonad/xmonad.hs
.weechat/*
.timewarrior/data/*
.timewarrior/extensions/*

.task/*
!.task/hooks

.password-store

.fetchmailrc

.config/watson/*
!.config/watson/config

.config/qutebrowser/bookmarks/*
.config/qutebrowser/qsettings/*
.config/qutebrowser/quickmarks
.config/qutebrowser/autoconfig.yml 

.vim/*
!.vim/vimrc
!.vim/ftplugin/
!.vim/syntax/

.config/tmuxinator/*
!.config/tmuxinator/default.yml

.config/mpv/watch_later/*

.vimwiki/*

usr/*
