*swo
*swp
*~
.config/hexchat/scrollback/*
.config/mpv/watch_later/*
.config/qutebrowser/autoconfig.yml 
.config/qutebrowser/qsettings/*
!.config/watson/config
.config/watson/*
.docker/config.json
.fetchmailrc
.ipython/*
!.local/share/qutebrowser
!.local/share/qutebrowser/userscripts
.local/share/*
.local/share/qutebrowser/*
.mutt/.vimrc
.mutt/aliases
.password-store
.ssh/*
.stow-local-ignore
!.task/hooks
.task/*
.timewarrior/data/*
.timewarrior/extensions/*
!.vim/after
!.vim/ftplugin/
!.vim/makebox.vim
!.vim/plugins.vim
!.vim/syntax/
!.vim/vimrc
.vim/*
.vimwiki/*
.weechat/*
!.xmonad/xmonad.hs
.xmonad/*
.xournal/*
img/*
usr/*
