!.config/watson/config
!.local/share/qutebrowser
!.local/share/qutebrowser/userscripts
!.task/hooks
!.vim/after
!.vim/ftplugin/
!.vim/makebox.vim
!.vim/plugins.vim
!.vim/syntax/
!.vim/vimrc
!.xmonad/xmonad.hs
*swo
*swp
*~
.config/hexchat/scrollback/*
.config/mpv/watch_later/*
.config/qutebrowser/autoconfig.yml 
.config/qutebrowser/qsettings/*
.config/watson/*
.docker/config.json
.fetchmailrc
.ipython/*
.local/share/*
.local/share/qutebrowser/*
.mutt/.vimrc
.mutt/aliases
.password-store
.stow-local-ignore
.task/*
.timewarrior/data/*
.timewarrior/extensions/*
.vim/*
.vimwiki/*
.weechat/*
.xmonad/*
.xournal/*
img/*
usr/*
