! NOTE: you must use the following command to commit changes made
!       to this config file: `xrdb merge ~/.Xresources`

! ----- SETTINGS
URxvt*secondaryWheel:         true
URxvt*buffered:               true            ! double buffer for xtf
URxvt*hold:                   false           ! kill window on shell exit
URxvt*loginShell:             true            ! to load shell profiles
URxvt*print-pipe:             cat > $HOME/tmp/$(echo urxvt.dump.$(date +'%s'))
URxvt*saveLines:              9999            ! non-tmux window scroll back
! Text
URxvt*font:                   xft:Hack:style=Regular:pixelsize=13:antialias=true:hinting=true,\
                              xft:DejaVu Sans Mono:pixelsize=18,\
                              xft:Unifont:pixelsize=16,\
                              xft:Emoji:pixelsize=15
URxvt*letterSpace: 2
URxvt*internalBorder:         6               ! pixels from frame edge
URxvt*lineSpace:              4               ! pixels between lines for added readability
! UI
URxvt*mapAlert:               true            ! de-iconify on bell alert
URxvt*scrollBar:              false           ! maximize usable line width
URxvt*visualBell:             true            ! blink window on bell
! Scrolling
URxvt*scrollTtyKeypress:      true            ! scroll to bottom on keypress
URxvt*scrollTtyOutput:        false           ! do not scroll to bottom on output
URxvt*scrollWithBuffer:       false           ! do not use scrollback buffer
URxvt*skipScroll:             true            ! favour scroll speed over listing all lines
URxvt*geometry:               100x39

! ----- COLORS
! Enable Dynamic Colors
xterm*dynamicColors: true
urxvt*dynamicColors: on
! Background and Foreground
*background: #1d1f21
*foreground: #c5c8c6
! 16 Colors (http://terminal.sexy)
*color0: #1d1f21
*color1: #a54242
*color2: #8c9440
*color3: #de935f
*color4: #5f819d
*color5: #85678f
*color6: #5e8d87
*color7: #707880
*color8: #373b41
*color9: #cc6666
*color10: #b5bd68
*color11: #f0c674
*color12: #81a2be
*color13: #b294bb
*color14: #8abeb7
*color15: #c5c8c6

! ----- EXTENSIONS
URxvt.perl-ext-common: default,url-select,clipboard
! Clipboard
URxvt.clipboard.autocopy: true
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.keysym.Control-y: eval:selection_to_clipboard
URxvt.keysym.Control-v: eval:paste_clipboard
! Matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.M-f: perl:url-select:select_next
URxvt.url-select.underline: true
URxvt.url-select.launcher: /usr/bin/xdg-open
