! NOTE: you must use the following command to commit changes made
!       to this config file: `xrdb merge ~/.Xresources`

! ----- SETTINGS
URxvt*buffered:               true            ! double buffer for xtf
URxvt*hold:                   false           ! kill window on shell exit
URxvt*loginShell:             true            ! to load shell profiles
URxvt*print-pipe:             cat > $HOME/tmp/$(echo urxvt.dump.$(date +'%s'))
URxvt*saveLines:              9999            ! non-tmux window scroll back
! Text
URxvt*font:                   xft:Hack:style=Regular:pixelsize=13:antialias=true:hinting=true
URxvt*letterSpace: 0
URxvt*internalBorder:         6               ! pixels from frame edge
URxvt*lineSpace:              4               ! pixels between lines for added readability
! UI
URxvt*mapAlert:               true            ! de-iconify on bell alert
URxvt*scrollBar:              false           ! maximize usable line width
URxvt*visualBell:             true            ! blink window on bell
! Scrolling
URxvt*scrollTtyKeypress:      true            ! scroll to bottom on keypress
URxvt*scrollTtyOutput:        false           ! do not scroll to bottom on output
URxvt*scrollWithBuffer:       false           ! do not use scrollback buffer
URxvt*skipScroll:             true            ! favour scroll speed over listing all lines
URxvt*geometry:               100x39

! ----- COLORS
*background: #002b36
*foreground: #eeeeee
!!*fading: 40
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1
!! black dark/light
*color0: #073642
*color8: #002b36
!! red dark/light
*color1: #dc322f
*color9: #cb4b16
!! green dark/light
*color2: #859900
*color10: #586e75
!! yellow dark/light
*color3: #b58900
*color11: #657b83
!! blue dark/light
*color4: #268bd2
*color12: #839496
!! magenta dark/light
*color5: #d33682
*color13: #6c71c4
!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1
!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3

! ----- EXTENSIONS
URxvt.perl-ext-common: default,url-select,clipboard
! Clipboard
URxvt.clipboard.autocopy: true
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.keysym.M-y: perl:clipboard:copy
URxvt.keysym.M-p: perl:clipboard:paste
! Matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.M-f: perl:url-select:select_next
URxvt.url-select.underline: true
URxvt.url-select.launcher: /usr/bin/xdg-open
