body
{
    padding: 0;
    margin: 0;
    min-width: 850px;
    background: url('../img/bg.png');
}
#ext_desc
{
    line-height: 40px;
    font-size: 14px;
}
.navbar-inner
{
    border-bottom: 1px solid #99F;
}
.navbar a.brand
{
    color: #FFF;
    font-size: 40px;
    text-shadow: 0px 0px 30px rgba(255,255,255,.55);
}
#mynav1
{
    width: 100%;
    height: 160px;
    line-height: 160px;
}
#nav_brand, #nav_desc
{
    float: left;
}
#nav_brand
{
    width: 60%;
}
#nav_desc
{
    width: 40%;
}
#mynav1 > .navbar-inner
{
    border-radius: 0;
}
#setting_tabs
{
    width: 100%;
}
#setting_tabs > div
{
    float: left;
}
#setting_tabs > .tabbable
{
    width: 20%;
}
#setting_tabs > .tabbable > .nav
{
    width: 100%;
}
#setting_tabs > .tab-content
{
    width: 80%;
}
.tab-pane
{
    padding: 0px 20px;
}
li#previous_word, li#next_word
{
    cursor: pointer;
}
li#previous_word.disabled, li#next_word.disabled
{
    cursor: default;
}
