snippet ct "CREATE TABLE"
CREATE TABLE ${1:table} (
	$0
);
endsnippet

snippet pk "PRIMARY KEY"
PRIMARY KEY (${1:key})
endsnippet

snippet fk "FOREIGN KEY"
FOREIGN KEY (${1:key}) REFERENCES ${2:table}(${3:okey})
endsnippet

snippet vc "VARCHAR(...)"
VARCHAR(${1:50})
endsnippet

snippet fl "FLOAT"
FLOAT
endsnippet
