snippet = "Subsection"
===== ${1:${VISUAL}} =====
endsnippet

snippet == "Datetime + Subsection"
`!v strftime("%Y-%m-%d %H:%M")`
===== ${1:${VISUAL}} =====
endsnippet

snippet =@ "Datetime + Tag + Subsection"
`!v strftime("%Y-%m-%d %H:%M")` @${1:tag}
===== ${2:${VISUAL}} =====
endsnippet

snippet - "Subsubsection"
------ ${1:${VISUAL}} -----
endsnippet

snippet # "Title"
##### ${1:${VISUAL}} #####
endsnippet

snippet * "Checkbox"
* [ ] 
endsnippet
