body {
  background-color: #ffffff;
  overflow: hidden;
  text-align: left;
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 0.8em;
  height: 544px;
  width: 619px;
}

*:focus { outline: none;} /* wow, one thing chrome does that sucks. */

#camelizerContentBox {
  padding: 9px 0 7px 9px;
  margin: 0;
}

#chartHolder {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #F0F0F0;
  height: 417px;
  margin-right: 10px;

}

#camelizerChart {
  background-color: #ffffff;
  padding: 5px;
  width: 588px;
  margin: 0 0 5px 0;
}

#camelizerDisplayChart {
  width: 100%;
  position: relative;
}

#camelizerStatusBar {
    cursor: pointer;
}

#camelizerStatusText {
  cursor: pointer;
  color: red;
  font-weight: bold;
  display: none;
}

#camelizerUrlParent {
  margin-top: 10px;
  font-size: 0.9em;
}

#camelizerAbout {
  color: #999999;
}
#camelizerAbout a:link, #camelizerAbout a:visited, #camelizerAbout a:hover, #camelizerAbout a:active {
  color: #999;
}

h3 {
  margin:0;
  padding:0;
  color: inherit;
}

h4 {
  color: #ACACAC;
  margin:0 0 2px 0;
  padding:0;
}
h5 {
  margin: 0;
  padding: 0 0 2px 0;
  font-size: inherit;
}

.controlbox {
  border: 1px solid #D8D8D8;
  padding: 0 8px 8px;
  float:left;
  margin: 0 10px 0 0;
  height: 52px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #F0F0F0;
  font-size: 11px;
}

#productPageLinks:lang(fr) {
  font-size: 9px;
  line-height: 13px;
}

#productPageLinks:lang(de) {
  font-size: 10px;
}

.ui-buttonset {
  margin-top: 5px;
  margin-right: 0;
}

#camelizer_radio label {
  font-size: 10px;
}


input[type=checkbox] {
  float: right;
  clear: both;
  cursor: pointer;
  margin-top:1px;
}

table input[type=text].invalid {
  border-color: #f00;
}

#legend label {
  cursor: pointer;
}

.cb_checkboxes label {
  display: block;
  height: 15px;
  clear: both;
  cursor: pointer;
  margin: 2px 0;
}
span.swatch {
  display: block;
  width: 10px;
  height: 10px;
  float:left;
  margin: 2px 4px 0 0;
}
span.swatch.new {
  background-color: #5E935A;
}
span.swatch.third_party {
  background-color: #0040FF;
}
span.swatch.used {
  background-color: #CF0000;
}
div.row {
  float:left;
}
ul {
  margin: 0 30px 0 0;
  padding: 0;
  list-style: none;
  font-size: 0.9em;
  float: left;
  overflow: hidden;
}
ul.second, #notYetTracking {
  margin: 0;
}

ul.first, ul.second {
  width: 270px;
}

ul li {
  margin: 3px 0;
  padding: 0;
}
li.category {
  font-weight: bold;
}
a:link, a:visited {
  color: #0000ee;
}
a:active {
  color: #f00;
}
a:link.visited {
  color: #551a8b;
}


#camelizerDisplayList {
  height: 494px;
  overflow-y: auto;
  width: 610px;
}

#footer {
  position: absolute;
  width: 100%;
  top: 510px;
  padding: 0;
  margin: 0;
}

#footer ul {
  margin: 0;
  font-size: inherit;
  float: none;
  bottom: 6px;
  width: 100%;
  padding: 0 0 0 7px;
  border-top: 1px solid #ccc;
  overflow: visible;

}

#footer li {
  list-style:none;
  float:left;
  border:1px solid #ccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top:0;
  margin:0 5px;
  background-color: #eee;
}

#footer li.active {
  margin-top: -1px;
  border-top: 1px solid #fff;
  font-weight: bold;
  background-color: #fff;
}

#footer li a:link, #footer li a:active, #footer li a:visited, #footer li a:hover {
  text-decoration: none;
  color: #333;
  padding: 4px 8px;
  display: block;
}

#footer li.active a:link, #footer li.active a:active, #footer li.active a:visited, #footer li.active a:hover {
  color: #000;
  font-weight: bold;
}

#footerOther {
  position: absolute;
  right: 10px;
  top: 6px;
  text-align: right;
}
#footerOther span.float {
  float: right;
  margin: 0 6px 0 0;
  padding: 0 6px 0 0;
  background: url(dot.gif) no-repeat center right;
}
#footerOther span#camelizerAbout {
  margin: 0;
  padding: 0;
  background: none;
}

#chartFooter {
  position: absolute;
  bottom: 11px;
  right: 125px;
  text-align: right;
  z-index: 1;
}

#camelizerDisplayLoading, #camelizerNoProduct, #camelizerDisplayNotSupported, #camelizerDisplayError, #camelizerDisplayProductNotFound, #pleaseSigninToAmazon, #noWishlists{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100px;
  width: 500px;
  text-align: center;
}
#watchSaving {
  height: 20px;
  float: right;
  padding-top: 2px;
}

#loginIframe {
  height: 500px;
  width: 100%;
  border: none;
}

#legend {
  background: #fff;
  font-size: 11px;
  white-space:nowrap;
  position: relative;
}
tr.unchecked span.swatch.new, tr.unchecked span.swatch.third_party, tr.unchecked span.swatch.used {
  background-color: #ccc;
}
#legend_throbber {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0;
  width: 16px;
}
#legend table {
  margin-left: 16px;
  width: 566px;
}
#legend input[type=checkbox] {
  float: left;
}
#legend input[type=submit], .wishlist_submit {
  font-weight: bold;
  padding: 3px 8px;
  font-size:11px;
  margin-right: 0;
}
#legend input[type=submit] {
  float:right;
}
tr.odd {
  background-color: #f6f6f6;
}

table {
  border-spacing: 0;
} 
table td, table th {
  padding: 1px 20px 0 0;
}

table td:lang(fr), table th:lang(fr), table td:lang(de), table th:lang(de), table td:lang(es), table th:lang(es) {
  padding: 1px 10px 0 0;
}

table td.desired, table th.desired {
  padding-right: 0;
  width: 80px;
}
table th, td.th {
  color: #666;
  font-weight: bold;
  vertical-align: top;
}
table input[type=text] {
  border: 1px solid #ccc;
}
#priceWatchForm input[type=text]{
  font-size: 11px;
  margin: 0 2px 1px;
  padding: 1px 2px;
  height: 11px;
}
input.price {
  width: 45px;
  float:left;
  text-align: right;
  margin-bottom:2px;
}
.watchEmail{
  float:left;
  padding: 3px 0 0 4px;
  font-size: 12px;
}

#watchNote {
  float: left;
  font-size: 12px;
  padding: 6px 0 0 3px;
  max-width: 320px;
  white-space: initial;
}

#watchNote:lang(fr) {
  max-width: 360px;
}

#watchNote:lang(en) {
  max-width: 380px;
}

#emailPriceWatch:lang(de) {
  width: 180px;
}
#emailPriceWatch {
  width: 200px;
  height: 18px;
  font-size:12px;
}

.tooltip th span.currency_symbol {
  float: none;
}
.currency_symbol, .watch_suggestions {
  float: left;
}
.delete {
  cursor: pointer;
  float: left;
}
#watchFormErrors {
  position: absolute;
  left: 8px;
  width: 560px;
}
.flash {
  background-color:#F0A5AA;
  padding: 10px;
  background-position: 10px 50%;
  background-repeat: no-repeat;
  border: 1px solid #cacaca;
  border-radius:3px;
  box-shadow: 2px 2px 2px rgba(190, 190, 190, 0.25);
  color: #434746;
  font-weight: bold;
  margin-bottom: 6px;
}

.flash.notice {
  border-color: #bed783;
  background-color: #bed783;
  background: -moz-linear-gradient(center top, #def3a8, #bed783) repeat scroll 0 0 #bed783;
  background: -webkit-gradient(linear, left top, left bottom, from(#def3a8), to(#bed783));
}
.tipContainer {
  z-index: 10;
  padding-bottom:12px;
}
#emailTip .tooltip_stem {
  left: 40px;
}
#iconTip .tooltip_stem {
  right: 12px;
}
#tooltip {
  display:none;
  font-size: 11px;
}
.tooltip {
  white-space:nowrap;
  border: 6px solid #ccc;
  padding: 0;
  min-height: 20px;
  background-color: #fff;
  border-radius: 8px;
}
.tooltip_stem {
  height: 14px;
  width: 14px;
  position: absolute;
  right: 28px;
  background-image: url(https://d1i0o2gnhzh6dj.cloudfront.net/images/bottommiddle.png);
  background-position: top left;
  background-repeat: no-repeat;
}

#tooltip td, #tooltip th {
  border: 1px solid #ddd;
  border-right: none;
  border-bottom:none;
  padding: 4px 8px;
}
#tooltip table {
  border:1px solid #ddd;
  border-left: none;
  border-top: none;
}

#wishlistImporter {
  padding-right: 12px;
}
.note {
  font-size: 11px;
}
#wishlists_table {
  width: 100%;
  padding: 0 6px 6px 6px;
}
#wishlists_table td {
  padding-bottom: 6px;
}
#wishlists td {
  padding: 2px;
  vertical-align: top;
}
#wishlists_form {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #F0F0F0;
  margin: 12px 0 0 0;
}
#wishlists_table input[type=checkbox] {
  float: left;
}
#wishlists_table label {
  display: block;
  cursor: pointer;
  margin: 2px 0;
}
.wishlist_items {
  white-space: nowrap;
}
.wishlist_privacy {
  max-width: 250px;
}
#relative_value {
  height: 16px;
  font-size: 14px;
}
td.th {
  text-align: right;
  white-space:nowrap;
}
.imported {
  float: left;
  margin: 0 2px;
}

#confirmBox {
  background: #fff;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  position: absolute;
  display: inline-block;
  z-index: 2;
  box-shadow: 2px 2px 2px #bbb;
}

#confirmMessage {
  margin-bottom: 12px;
}

#productPageLinks {
  width: 150px;
}

/* it */
.ui-button-text-only .ui-button-text {
  padding: .4em 0.9em;
}

.ui-button-text-only:lang(fr) .ui-button-text:lang(fr) {
  padding: .4em 0.95em;
}

.ui-button-text-only:lang(en) .ui-button-text:lang(en), .ui-button-text-only:lang(de) .ui-button-text:lang(de) {
  padding: .4em 1em;
}
