snippet vs "\vspace{.25cm}"
\vspace{${1:.25}cm}
endsnippet

snippet tt "\texttt{}"
\texttt{${1:}}
endsnippet

snippet cmd "\<command>"
\\${1:command}
endsnippet

snippet bf "\textbf{}"
\textbf{$1}
endsnippet
