#addItemDialog {
  height: 80%;
  max-width: 850px;
}

#addItemDialog .dialogContent {
  background-color: #FFF;
  padding: 20px 0 0 20px;
}

.addItemCard {
  display: inline-table;
  height: 150px;
  width: 250px;
  color: #A1A9AD;;
  text-align: center;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0 20px 20px 0;
  cursor: pointer;
}

.addItemCard > div {
  display: table-cell;
  vertical-align: middle;
}

.addItemCardName {
  color: #646D73;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 12px;
  display: inline-block;
}

.addItemCard:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
  background-color: #FFF;
}

.addItemCard i {
  font-size: 48px;
  display: block;
}
