[G0]
timername=
time=3000
timercommand=
timerinfo=50m 0s
is_countdown=true

[G1]
timername=
time=2700
timercommand=
timerinfo=45m 0s
is_countdown=true

[G2]
timername=
time=2400
timercommand=
timerinfo=40m 0s
is_countdown=true

[G3]
timername=
time=1800
timercommand=
timerinfo=30m 0s
is_countdown=true

[G4]
timername=
time=1200
timercommand=
timerinfo=20m 0s
is_countdown=true

[G5]
timername=
time=900
timercommand=
timerinfo=15m 0s
is_countdown=true

[G6]
timername=
time=300
timercommand=
timerinfo=5m 0s
is_countdown=true

[others]
nowin_if_alarm=false
selecting_starts=true
use_global_command=false
global_command=
repeat_alarm=false
repetitions=1
repeat_interval=10

