[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[a7b99da6-013b-4a91-9a60-3070c62e4c25]
row=0
col=0

[10f70d4c-a069-4971-bf58-1550ae51c06f]
row=1
col=0

[Blank DVD-R Disc]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/bryan]
row=5
col=0

